:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --hover-color-button: #188ce8;
  --primary-black-color: #000000;
  --primary-white-color: #ffffff;
  --address-footer-color: #ffffff99;
  --form-border-color: #ffffff4d;
  --bcg-color: #2f303a;
  --bcg-color-hero: #c4c4c4;
  --bcg-color-grey: #f5f4fa;
  --border-line-header: #ececec;
  --border-line-card: #eeeeee;
  --social-link-color: #afb1b8;
  --modal-form-border: #21212133;
  --modal-form-placeholder: #75757580;
  --primary-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
}
