.footer-main {
  text-align: center;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media screen and (min-width: $desktop) {
    text-align: left;
  }
}

.footer-main__thumb:not(:last-child) {
  margin-bottom: 60px;

    @media screen and (min-width: $tablet) {
      width: calc((100% - 30px) / 2);
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 0;
    }
}

.footer-main__thumb:last-child {
  @media screen and (min-width: $tablet) {
    flex-basis: 100%;
  }
  @media screen and (min-width: $desktop) {
    flex-basis: calc(50% - 15px);
  }
}

.footer-main__thumb {
  @media screen and (min-width: $desktop) {
    flex-basis: calc((50% - 45px) / 2);
  }
}
    
 