
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/her!!!.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

@media screen and (max-width: $desktop) {
  height: 400px;
}
@media screen and (min-width: $desktop) {
  height: 600px;
}
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);

  @media screen and (min-width: $mobile) {
    width: 360px;
    font-size: 26px;
    line-height: 1.62;}

  @media screen and (min-width: $desktop) {
    width: 630px;
    font-size: 44px;
    line-height: 1.36;}
  
}
